<div class="bg-gray-d margin-0 row padding-80-0" style="height: 100%;">
    <div class="offset-md-1 col-10 row margin-0">
        <div class="offset-md-5 col-5 bg-white text-center">
            <div class="offset-md-2 col-8">
                <div class="font-s24 text-23 padding-30-0">Admin</div>
                <div class="text-left alert-info">
                    <div>
                        username: kminchelle
                    </div>
                    password: 0lelplR
                </div>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <input type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" class="form-control text-gray border-0-r input" placeholder="Username">
                    <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                        <div *ngIf="f['username'].errors?.['required']">Username is required</div>
                    </div>
                    <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" class="form-control text-gray border-0-r input margin-15-0" placeholder="Password">
                    <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                        <div *ngIf="f['password'].errors?.['required']">Password is required</div>
                    </div>

                    <button class="padding-10-30 bg-blue text-white margin-50-0 col-12">SIGN IN</button>
                </form>
            </div>
        </div>
    </div>
</div>