<div class="bg-gray-d margin-0 height-100 row padding-80-0">
    <div class="offset-md-1 col-10">
        <div *ngIf="cartItems.length == 0" class="font-s24 text-23 text-center font-w500">
            Your cart is empty
        </div>
        <div *ngIf="cartItems.length !== 0" class="row margin-0">

            <div class="col-9">
                <div class="row margin-0 vertical-align" style="border-bottom: 1px solid #eeeeee;" *ngFor="let cartItem of cartItems;  let i = index ">
                    <div class="row margin-0 padding-0 padding-20-b vertical-align">
                        <img src="{{ cartItem.thumbnail }}" class="col-4 padding-0" style="border: 0.1rem solid #e9e9e9;" />
                        <div class="col font-s13">
                            <div class="text-23 font-s14 poppins text-left">{{cartItem.title}}</div>
                            <div class="text-gray-l font-s13">{{cartItem.brand}}</div>
                        </div>
                        <div class="font-s15 col font-w500">$ {{cartItem.price}}</div>
                        <i class="fa fa-trash-o text-23 col-1 padding-0" aria-hidden="true" (click)="removeFromCart(cartItem)"></i>
                    </div>
                    <hr />
                </div>
                <div class="padding-10-30 bg-red offset-md-10 text-white" (click)="clearCart(cartItems)">EMPTY CART</div>
            </div>
            <div class="col-3">
                <div class="bg-white padding-10">
                    <div class="text-23 font-s15 poppins row margin-0 vertical-align">
                        <div class="col">Total</div>
                        <div class="col text-right font-w700 font-s20">$ {{ totalAmount }}</div>
                    </div>
                    <div class="text-center text-white font-s14 font-w500">
                        <div class="row margin-0 margin-10-0">
                            <div class="col">
                                <div class="padding-10-30 bg-blue" (click)="checkout()">CHECKOUT</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>