/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Poppins';
}

.poppins {
    font-family: 'Poppins';
}

.lato {
    font-family: 'Lato';
}

.bg-black {
    background-color: #232323;
}

.bg-gray {
    background-color: #eeeeee;
}

.bg-gray-d {
    background-color: #f3f3f3;
}

.bg-blue {
    background-color: #1a466e;
}

.bg-red {
    background-color: #ff0000;
}

.text-white {
    color: #ffffff;
}

.text-black {
    color: #2c2c2c;
}

.text-gray {
    color: #a5a5a5;
}

.text-gray-l {
    color: #686868;
}

.text-gray-d {
    color: #7b7b7b;
}

.text-blue {
    color: #1a466e;
}

.text-23 {
    color: #232323;
}

.text-666 {
    color: #666666;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.font-s12 {
    font-size: 12px;
}

.font-s14 {
    font-size: 14px;
}

.font-s15 {
    font-size: 15px;
}

.font-s20 {
    font-size: 20px;
}

.font-s24 {
    font-size: 24px;
}

.font-s40 {
    font-size: 40px;
}

.font-w500 {
    font-weight: 500;
}

.font-w700 {
    font-weight: 700;
}

.margin-0 {
    margin: 0 !important;
}

.margin-10-0 {
    margin: 10px 0 !important;
}

.margin-15-0 {
    margin: 15px 0;
}

.margin-50-0 {
    margin: 50px 0;
}

.margin-10-t {
    margin-top: 10px;
}

.padding-0 {
    padding: 0 !important;
}

.padding-10 {
    padding: 10px;
}

.padding-50 {
    padding: 50px;
}

.padding-0-60 {
    padding: 0 60px !important;
}

.padding-5-0 {
    padding: 5px 0;
}

.padding-10-0 {
    padding: 10px 0;
}

.padding-10-20 {
    padding: 10px 20px;
}

.padding-10-30 {
    padding: 10px 30px;
}

.padding-20-0 {
    padding: 20px 0;
}

.padding-30-0 {
    padding: 30px 0;
}

.padding-50-0 {
    padding: 50px 0;
}

.padding-80-0 {
    padding: 80px 0;
}

.padding-0-l {
    padding-left: 0 !important;
}

.padding-0-r {
    padding-right: 0 !important;
}

.padding-0-b {
    padding-bottom: 0;
}

.padding-20-b {
    padding-bottom: 20px !important;
}

.input-group-text {
    background-color: transparent !important;
}

.border-r-none {
    border-right: none !important;
}

.col-8 {
    width: 66.66666667% !important;
}

.vertical-align {
    display: flex !important;
    align-items: center;
}

.form-control:focus {
    border-color: #ced4da !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.slick-next {
    right: 0 !important;
}

/* loader start */

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.568);
  }
  .loader-wrapper{
    position: fixed;
    top: calc(50% - 24px);
    left:calc(50% - 24px);
  }
  
  @keyframes rotating {
      100% {
          transform: rotate(360deg);
      }
  }
  
  .spinner {
      border-radius: 50%;
      width: 30px;
      height: 30px;
      border: 4px solid rgba(243, 243, 243, 0.1);
      border-top: 4px solid #fff;
      animation: rotating 1.2s infinite cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

/* loader end */

.slick-track {
    display: flex !important;
    align-items: center;
}

.separator {
    position: absolute;
    background: no-repeat;
    height: 37px;
    width: 100%;
    text-align: center;
    background-position: center;
    left: 0;
    right: 0;
    background-image: url('assets/seperator.png');
}

.separator-left {
    position: absolute;
    background: no-repeat;
    height: 37px;
    text-align: center;
    background-position: left;
    left: 150px;
    right: 0;
    background-image: url('assets/seperator.png');
}

.circle {
    border-radius: 50%;
    box-shadow: 0px 6px 6.58px 0.42px rgb(0 0 0 / 6%);
}

.count {
    border-radius: 50% !important;
    position: absolute;
    right: 203px;
    top: 36px;
    line-height: 16px;
    max-width: 19px !important;
    font-size: 10px !important;
    letter-spacing: 0.025em;
    text-align: center !important;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
  }

.sticky-top {
    position: fixed !important;
    width: 100%;
}

.height-100 {
    min-height: 93.9vh;
}

.border-0-r {
    border-radius: 0 !important;
}

.input {
    border-color: #f3f3f3 !important;
    background-color: #f3f3f3 !important;
}